body,html {
    font-family: 'Lato', sans-serif;
    color: #888;
    text-align: center;
    line-height:1.5em;
}

.wrapper {
    margin-top: 10em;
}

.logo {
    display: block;
    margin: 2em auto;
}


a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.link {
    color: #4EB6D2;
}